button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

#controls {
  display: flex;
  align-items: center;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  margin-top: 16px;
}

#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  margin-right: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

[data-create] {
  background-color: #4e75ff;
  margin-right: 16px;
}
[data-create]:hover {
  background-color: #6c8cff;
}

[data-destroy] {
  background-color: #ff4e4e;
}
[data-destroy]:hover {
  background-color: #ff7070;
}
